{% extends "hq/base.html" %}

{% load i18n %}
{% load wqm-tags %}
{% block javascripts %}

    <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/jqModal.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/jqDnR.js"></script>
    <script type="javascript>">
$().ready(function() {
  $('#dialog').jqm();
});
</script>
    <!--<script type="text/javascript" src="{{MEDIA_URL}}/aquatest_calendar/javascripts/show_samples.js"></script>-->
{% endblock %}
{% block page_stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/hq/stylesheets/aqua_calendar.css" />
    <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/modal_dialog.css" />
    <style type="text/css">
        /* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */

.jqmWindow {
    display: none;

    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 600px;

    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
    </style>
{% endblock %}

{% block title %}{% trans "Reports by Calender" %}{% endblock %}

{% block org_content %}


<h2>{%trans "Report by Calender"%}</h2>
    {%if search_string %}
    <h3>Samples in :{{ search_string }}</h3>
    {% endif %}
    <form method="get" id="search">
		<select id="selectDistrict" name="q" >
	            <option value=""></option>
	            {% for area in areas %}
	            <!--put value to point to the actual html file-->
	            <option value="{{ area.id }}">{{ area.name }}</option>
	            {% endfor %}
	    </select>
	    <input type="submit" value="Filter" />
    </form>
<!--<body>-->
  <!--<h2>Calendar of {{ username }}</h2>-->
<!--  <table class="allCalendar">
    <tr>-->
      <!--<td>-->
        <table class="calendar">
            <button onclick="$('#dialog').jqmShow();">show</button>
            <a href="#" class="jqModal">view</a>
            <div class="formtrigger js_link" onclick="$('#dialog').jqmShow();"> Show upppp</div>
...

<div class="jqmWindow" id="dialog">

<a href="#" class="jqmClose">Close</a>
<hr>
<em>READ ME</em> -->
This is a "vanilla plain" jqModal window. Behavior and appeareance extend far beyond this.
The demonstrations on this page will show off a few possibilites. I recommend walking
through each one to get an understanding of jqModal <em>before</em> using it.

<br /><br />
You can view the sourcecode of examples by clicking the Javascript, CSS, and HTML tabs.
Be sure to checkout the <a href="README">documentation</a> too!

<br /><br />
<em>NOTE</em>; You can close windows by clicking the tinted background known as the "overlay".
Clicking the overlay will have no effect if the "modal" parameter is passed, or if the
overlay is disabled.
</div>

          <tr>
            <th><a href="?year={{ cal.prev.0 }}&month={{ cal.prev.1 }}&q={{ search_string.id }}">&laquo;</a></th>
            <th colspan="5">{{ cal.getMonthHeader.0 }} {{ cal.getMonthHeader.1 }}</th>
            <th><a href="?year={{ cal.next.0 }}&month={{ cal.next.1 }}&q={{ search_string.id }}">&raquo;</a></th>
          </tr>
          <tr>
            {% for wk in cal.getWeekHeader %}
              <th>{{ wk }}</th>
            {% endfor %}
          </tr>
          {% for line in cal.getMonthCalendar %}
          <tr>

                {% for day in line %}
                <td id="{{ day.0 }}">
                {% if day.1 %}
                    <div id="dt{{ day.0 }}" class="abnormal{{ day.3 }}" > <div id="ct{{ date.0 }}" >
                    {{ day.0 }}

                        <div class="formtrigger js_link" onclick="show_forms('#samplelist');">{{ day.2 }} : Samples</div>
                {% else %}
                    {% if day.0 %}
                        {{ day.0 }}
                        
                    {% endif %}
                {% endif %}
                  </div>
                </div>
              
              </td>

            {% endfor %}
          </tr>
          {% endfor %}
        </table>
<!--  </tr>
  </table>-->
<div class="modal_dialog" id="formlist">
Hello World
</div>

{% endblock %}
