{% extends "hq/base.html" %}
{% load aquatestcalendar-tags %}
{% load i18n %}
{% load wqm-tags %}
{% block page_stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/hq/stylesheets/aqua_calendar.css" />
  <link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/hq/stylesheets/modal_dialog.css" />

{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/aqua_calendar"></script>
   <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/aquatest/js/selector.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/jqModal.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/jqDnR.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/xformmanager/javascripts/form_group.js"></script>


{% endblock %}







{% block title %}{% trans "Reports by Calender" %}{% endblock %}

{% block org_content %}
{% month_cal 2007 5 %} 
<table class="cal_month_calendar">
<tr>
{% for day in headers %}
<th>{{ day|date:"D"|slice:":2" }}</hd>
{% endfor %}
</tr>
{% for week in calendar %}
<tr>
{% for day in week %}
<td{% if not day.in_month %} class="cal_not_in_month"{% endif %}>{% if day.event %}<a href="/calendar/{{ day.day|date:"Y/m" }}/">{{ day.day|date:"j" }}</a>{% else %}{{ day.day|date:"j" }}{% endif %}</td>
{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
