{% load i18n %}

<table class="event">
            <tr>
              <th>Date</th>
              <th>Sample Point</th>
              <th>Tester</th>
              <th>Parameters</th>
            </tr>
            {% for event in cal.getDailyEvents %}
              <tr>
                <td>{{ event.start.date }}</td>
                <td>{{ event.desc }}</td>
                <td>{{ event.name }}</td>
                <td>{{event.count }}</td>
              </tr>
            {% endfor %}

</table>

<p>
<input id="close" class="jqmClose" type="button" value="Close" style="float:right;"/>
</p>